@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
	--white: #fafafa;
	--darkblue: #2930d3;
	--light-blue: #9ac4f8;
	--orange: #f4b942;
	--light-yellow: #f2d069;

	--font: "Poppins", sans-serif;
	--text-white: #ffffff;
	--text-black: #000000;
	--font-size: 1.5rem;
}

body {
	font-family: var(--font);
	background-color: var(--white);
	color: var(--text-black);
	margin: 0;
	padding: 0;
}

.logo {
	height: auto;
	width: auto;
}

title {
	font-size: 2.5rem;
	font-weight: bolder;
	color: var(--text-black);
	text-align: center;
}

p {
	font-size: 1rem;
	color: var(--text-black);
	text-align: center;
}

.yellow button {
	font-size: 1rem;
	font-weight: bolder;
	text-align: center;
	border-radius: 10%;
	cursor: pointer;
	color: var(--text-white);
	background-color: var(--orange);
}

.darkblue button {
	font-size: 1rem;
	font-weight: bolder;
	text-align: center;
	background-color: var(--darkblue);
	color: var(--text-white);
	border-radius: 10%;
	cursor: pointer;
}

.light-blue button {
	font-size: 1rem;
	font-weight: bolder;
	text-align: center;
	background-color: var(--light-blue);
	color: var(--text-black);
	border-radius: 10%;
	cursor: pointer;
}

.card {
	background-color: var(--white);
	color: var(--text-black);
	border-radius: 10%;
	cursor: pointer;
}

footer {
	background-color: var(--white);
	color: var(--text-black);
}
