@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	box-sizing: border-box;
}

:root {
	--white: #fafafa;
	--darkblue: #2930d3;
	--light-blue: #9ac4f8;
	--orange: #f4b942;
	--light-yellow: #f2d069;

	--font: "Poppins";
	--text-white: #ffffff;
	--text-black: #000000;
	--font-size: 1.5rem;
}

body {
	font-family: var(--font);
	background-color: var(--white);
	color: var(--text-black);
	margin: 0;
	padding: 0;
	line-height: 1.5;
}

.logo {
	height: auto;
	width: auto;
}

.title {
	font-size: 3rem;
	font-weight: 400;
	color: var(--text-black);
	text-align: center;
}

p {
	font-size: 1rem;
	color: var(--text-black);
	text-align: center;
}

.yellow-button {
	font-size: 1rem;
	font-weight: bold;
	text-align: center;
	border-radius: 1rem;
	padding: .8rem 1rem;
	cursor: pointer;
	color: var(--text-white);
	background-color: var(--orange);
	border: 3px solid var(--orange);
}

.yellow-button:hover {
	color: var(--orange);
	background-color: #fafafa;
	border: 3px solid var(--orange);
	box-shadow: 10px 10px 12px 1px rgba(0, 0, 0, 0.45);
}

.darkblue-button {
	font-size: 1rem;
	font-weight: bold;
	text-align: center;
	background-color: var(--darkblue);
	color: var(--text-white);
	border-radius: 1rem;
	border: 3px solid var(--darkblue);
	padding: 0.5rem;
	cursor: pointer;
}

.darkblue-button:hover {
	color: var(--darkblue);
	background-color: var(--light-blue);
	border: 3px solid var(--darkblue);
	box-shadow: 10px 10px 12px 1px rgba(0, 0, 0, 0.45);
}

.lightblue-button {
	font-size: 1rem;
	font-weight: bold;
	text-align: center;
	background-color: var(--light-blue);
	color: var(--text-white);
	border-radius: 1rem;
	border: 3px solid var(--light-blue);
	padding: 0.5rem;
	cursor: pointer;
}

.lightblue-button:hover {
	color: var(--darkblue);
	background-color: var(--light-blue);
	border: 3px solid var(--darkblue);
	box-shadow: 10px 10px 12px 1px rgba(0, 0, 0, 0.45);
}

.card {
	background-color: var(--white);
	color: var(--text-black);
	border-radius: 10%;
	cursor: pointer;
}

footer {
	background-color: var(--white);
	color: var(--text-black);
}


@media screen and (min-width: 480px) and (max-width: 720px) {
	.title {
		font-size: 2rem;
		font-weight: 400;
	}

	.yellow-button {
		font-size: 0.5rem;
	}
}
