.form-page {
	border: 0.1rem solid var(--darkblue);
	padding: 1.5rem;
	margin: 1rem auto;
	border-radius: 1rem;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	max-width: 800px; /* Empêche d'être trop large sur grand écran */
	box-sizing: border-box;
}

.advert-form {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.form-title {
	font-size: 1.8rem;
	font-weight: bold;
	text-align: center;
	margin-bottom: 1.5rem;
}

.form-group {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1rem;
	width: 100%;
}

.tag-list {
	background-color: var(--darkblue);
	color: var(--text-white);
	border-radius: 1rem;
	border: none;
	padding: 0.5rem;
	cursor: pointer;
	width: 40%;
	padding-right: 1rem;
	margin-bottom: 1rem;
	box-sizing: border-box;
}

.form-group-description {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.description-label {
	margin-top: 1rem;
}

.textDescription {
	margin-top: 1rem;
	margin-bottom: 2rem;
	padding: 1.5rem;
	font-size: 1rem;
	width: 100%;
	min-height: 50px; /* Hauteur de base */
	padding: 10px;
	font-size: 1rem;
	border: 1px solid var(--dark-blue);
	border-radius: 5px;
	box-sizing: border-box;
	overflow: hidden; /* Évite le défilement horizontal */
	white-space: pre-wrap; /* Permet de gérer les retours à la ligne */
	word-wrap: break-word;
	display: block;
}

.advertising-text {
	font-size: 0.8rem;
	font-style: italic;
	color: var(--light-blue);
	text-align: center;
	margin: 2rem 0 1rem 0;
}

.submit-button {
	text-align: center;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

.disabled-button {
	opacity: 0.5;
}

.advert-booking p {
	margin: 1rem;
	text-align: left;
}

.navigateButtons {
	display: flex;
	justify-content: center;
	margin: 1rem;
}

@media screen and (min-width: 480px) and (max-width: 720px) {
	.form-group {
		display: flex;
		flex-direction: column;
	}

	.form-group-description {
		align-items: center;
	}

	.tag-list {
		margin: 1rem 0 1rem 0;
	}
}
