.profileContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	padding: 1rem;
	background: var(--white);
	border: 3px solid var(--orange);
	border-radius: 10px;
	box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.3);
	width: auto;
	height: auto;
	overflow: hidden;
	padding-top: 1rem;
	margin: 2rem;
	margin-top: 0;
	gap: 2rem;
	transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.profileContainer:hover {
	transform: scale(1.03);
	box-shadow: 6px 8px 12px rgba(0, 0, 0, 0.4);
}

.Profile {
	display: flex;
	flex-direction: column;
	width: 62vw;
	height: auto;
	justify-content: center;
	align-items: center;
	text-align: center;
	animation: fadeIn 0.5s ease-in-out;
}

.profilePresentation {
	display: flex;
	flex-direction: row;
	margin-bottom: 1rem;
	gap: 1rem;
}

.pictureGoat {
	height: 30vh;
	clip-path: ellipse(50% 50%);
	object-fit: cover;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	transition: transform 0.3s ease-in-out;
}

.pictureGoat:hover {
	transform: rotate(5deg) scale(1.1);
}

.textContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin: 1rem;
}

.profile-Presentation {
	text-align: left;
	justify-content: center;
}

.Recap {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	margin-bottom: 20rem;
  gap:2rem;
	animation: fadeIn 0.8s ease-in-out;
}

.booking-button {
	margin-bottom: 10rem;
}

.yellow-button {
	margin: 1rem;
	background-color: var(--orange);
	color: white;
	border: none;
	border-radius: 25px;
	padding: 10px 20px;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.yellow-button:hover {
	background-color: var(--white);
	transform: translateY(-3px);
}

h2 {
	font-size: 3dvh;
	margin: 1rem;
}

.collapse-content {
	display: flex;
	flex-direction: column;
	animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@media screen and (max-width: 1024px) {
	.profileContainer {
		flex-direction: column;
		align-items: center;
		gap: 1rem;
		padding: 0.5rem;
	}

	.Profile {
		width: 90vw;
	}

	.profilePresentation {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.pictureGoat {
		height: 25vh;
	}
  .booking-button {
    margin-bottom: 5rem;
  }
  .yellow-button {
    padding: 8px 16px;
  }
}

@media screen and (max-width: 768px) {
	.profileContainer {
		margin: 1rem;
		gap: 0.5rem;
	}

	h2 {
		font-size: 2.5vh;
	}

	.yellow-button {
		padding: 8px 16px;
	}
	.booking-button {
		margin-bottom: 5rem;
	}
	
	}

@media screen and (max-width: 480px) {
	.profileContainer {
		padding: 0.5rem;
		gap: 0.5rem;
	}

	h2 {
		font-size: 2vh;
	}

	.yellow-button {
		padding: 12px 12px;
    width: auto;
	}
}
