.cards {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--white);
	border: 4px solid var(--orange);
	border-radius: 10px;
	box-shadow: 10px 10px 12px 1px rgba(0, 0, 0, 0.25);
	gap: 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding: 1rem;
	text-align: center;
	width: 22rem;
	height: 25rem;
	position: relative;
}

.online {
	height: 8vh;
	position: absolute;
	top: 15px; 
	right: 15px; 
}

.goat-picture {
	border-radius: 50%;
	height: 20vh;
	width: 20vh;
	align-items: center;
}

.cards h2 {
	font-size: 2rem;
	font-weight: 400;
	margin: 0;
}

.tags {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.main-tag-name,
.sub-tag-name {
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 3px solid;
	border-radius: 30px;
	padding: 2px;
	width: 10rem;
	height: 2.5rem;
	font-size: 2vh;
	margin: 0;
}

.main-tag-name {
	color: var(--darkblue);
	border-color: var(--darkblue);
}

.sub-tag-name {
	color: var(--light-blue);
	border-color: var(--light-blue);
}

.description {
	padding: 0;
	width: 350px; 
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; 
}

.cards:hover {
	transform: scale(1.05);
	transition: background-color 0.5s ease, transform 0.5s ease;
	border: 8px solid var(--orange);
	box-shadow: 10px 10px 12px 1px rgba(0, 0, 0, 0.45);
}