.filter-container {
	width: 80vw;
	margin: 0 auto;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.filter-wrapper {
	display: flex;
	align-items: center;
	gap: 10px;
	overflow: hidden;
	width: 100%;
	max-width: 800px;
	padding-bottom: 2%;
}

.filter-list {
	display: flex;
	gap: 10px;
	overflow: hidden;
	white-space: nowrap;
	transition: transform 0.3s ease-in-out;
}

.filter-btn {
	padding: 10px 15px;
	background-color: #2930d3;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.selected {
	background-color: #9ac4f8;
	border: 2px solid #2930d3;
	color: #2930d3;
}

.scroll-btn {
	background-color: #f0f0f0;
	color: #2930d3;
	border: none;
	padding: 10px;
	border-radius: 50%;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.scroll-btn:hover {
	background-color: #dcdcdc;
}
